# Vim
*.swp

# OS X
.DS_Store

# Ruby
Gemfile.lock

# Vagrant
.vagrant

# dynamically generated
environment.conf

/.envrc

# Gem
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
